<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="GTeamConnectionString" connectionString="Data Source=mimas.itds.unt.edu;Persist Security Info=True;User ID=GTeamAdmin;Password=XrCDtyh5"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>